<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datenyc.mom.datenyc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".YelpAPI.LocationPage"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BudgetActivity" />
        <activity android:name=".VenueTypePackage.VenueType" />
        <activity android:name=".VenueTypePackage.CuisineActivity" />
        <activity android:name=".VenueTypePackage.FunActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlBZB7bD8J_1_0hq5_z2j69-ke4ca7djY" />

        <activity android:name=".GoogleMaps.MapActivity" />
        <activity android:name=".RestaurantActivity" />
        <activity
            android:name=".VenueTypePackage.RestDetails"
            android:label="@string/title_activity_rest_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".VenueTypePackage.ActivityType" />
        <activity android:name=".Theatre.TheatreActivity" />
        <activity android:name=".Movies.RottenTomatoes"></activity>
    </application>

</manifest>